@keyframes scale-up {
    0% { transform: scale(0.01); }
    100% { transform: scale(1.0); }
}

@keyframes scale-up-partial {
    0% { transform: scale(0.75); }
    100% { transform: scale(1.0); }
}

@keyframes appear-from-right {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0); }
}

.ExtremeClickingImageLabeler {
    cursor: crosshair;
}

.ExtremeClickingImageLabeler--bounding-box {
    animation: scale-up-partial 25ms ease-in;
}

.ExtremeClickingImageLabeler--point {
    animation: scale-up 100ms ease-in;
}

.ExtremeClickingImageLabeler--side-menu {
    position: fixed;
    right: 0;
    top: 0;
    padding-right: 10px;
    height: 100%;
}
